.app-wrappper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h" "n c";
  .header{
    grid-area: h;
    background-color: gainsboro;

  }
  .nav{
    grid-area: n;
    background-color: lightgray;

  }
  .content{
    grid-area: c;
    background-color: beige;

  }
}