.col-4{
  border-right: 1px solid grey;
  & .active{
    color:red;
  }
}
.messages{
  & .message {
    max-width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color:white;
    border: 1px solid grey;
    overflow-x: scroll;

  }
}